<section class="contact" id="contact">
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs-12"><h1>Let&rsquo;s Chat</h1></div>
        </div>
        <div class="row center-xs">
            {{ if .Site.Params.github }}
            <div class="col-xs-3 col-md-2"><a class="fa fa-github-square fa-4x" href="https://github.com/{{ .Site.Params.github }}" target="_blank"></a><br /><a href="https://github.com/{{ .Site.Params.github }}" target="_blank">GitHub</a></div>
            {{ end }}
            {{ if .Site.Params.linkedin }}
            <div class="col-xs-3 col-md-2"><a class="fa fa-linkedin-square fa-4x" href="https://linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank"></a><br /><a href="https://linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank">LinkedIn</a></div>
            {{ end }}
            {{ if .Site.Params.twitter }}
            <div class="col-xs-3 col-md-2"><a class="fa fa-twitter-square fa-4x" href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank"></a><br /><a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank">Twitter</a></div>
            {{ end }}
            {{ if .Site.Params.facebook }}
            <div class="col-xs-3 col-md-2"><a class="fa fa-facebook-square fa-4x" href="https://facebook.com/{{ .Site.Params.facebook }}" target="_blank"></a><br /><a href="https://facebook.com/{{ .Site.Params.facebook }}" target="_blank">Facebook</a></div>
            {{ end }}
            {{ if .Site.Params.ajaxFormspree }}
        </div>
        <form id="form-contact" action="https://formspree.io/{{ .Site.Params.email }}" method="POST">
            <div class="row center-xs">
                <div class="col-xs-12 col-sm-6"><input type="text" name="name" placeholder="Name" required></div>
                <div class="col-xs-12 col-sm-6"><input type="email" name="email" placeholder="Email" required></div>
                <div class="col-xs-12"><input type="text" name="_subject" placeholder="Subject" required></div>
                <div class="col-xs-12"><textarea name="message" placeholder="Message" required></textarea></div>
                <input type="text" name="_gotcha" style="display:none">
                <input type="hidden" name="_next" value="/">
                <div class="col-xs-6" id="form-submit"><input type="submit" value="Send"></div>
                <div class="col-xs-12" id="form-thankyou" style="display:none;">Thanks for your email!</div>
            </div>
        </form>
        {{ end }}
    </div>
</section>
